.whyBookWithLoyaltyCaravan {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  width: 299px;
  flex-shrink: 0;
}
.frameDiv1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.loremIpsumDolorSitAmetCo {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 327.94px;
  flex-shrink: 0;
}
.frameDiv2,
.labelDiv {
  font-size: var(--body-2-bold1-size);
}
.frameDiv2 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--neutrals-41);
  font-family: var(--button-21);
}
.labelDiv {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--caption-21);
  color: var(--neutrals-81);
  text-align: center;
  display: inline-block;
}
.button,
.frameDiv {
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-4xs);
  background-color: var(--primary-11);
  border-radius: var(--br-md);
  width: 209px;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frameDiv {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-11xl);
  color: var(--neutrals-61);
  font-family: var(--caption-21);
}
.frameIcon {
  position: relative;
  width: 48.31px;
  height: 48.31px;
  flex-shrink: 0;
}
.x7CustomerSupport {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.frameDiv5 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.assumSuavitateEaVelVeroE {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 220.06px;
  flex-shrink: 0;
}
.frameDiv4,
.frameDiv6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv6 {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--button-21-size);
  color: var(--neutrals-51);
  font-family: var(--caption-21);
}
.frameDiv4 {
  flex-direction: column;
}
.frameDiv3 {
  flex: 1;
  gap: var(--gap-sm);
}
.frameDiv3,
.frameDiv7,
.frameDiv9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv9 {
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frameDiv7 {
  flex: 1;
}
.frameSection {
  align-self: stretch;
  background-color: var(--neutrals-21);
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-7xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xl);
  text-align: left;
  font-size: var(--body-2-bold1-size);
  color: var(--neutrals-81);
  font-family: var(--button-21);
}
@media screen and (max-width: 1200px) {
  .frameDiv,
  .frameDiv3,
  .frameDiv7 {
    flex: unset;
    align-self: stretch;
  }
  .frameSection {
    flex-direction: column;
  }
}
