.lOGODiv {
  position: relative;
  line-height: 27px;
  font-weight: 600;
  display: inline-block;
}
.logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.image31Traced {
  position: relative;
  width: 14.33px;
  height: 14.66px;
  flex-shrink: 0;
}
.flightsDiv {
  position: relative;
  font-size: var(--button-21-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--caption-21);
  color: var(--neutrals-81);
  text-align: center;
  display: inline-block;
}
.frameButton,
.frameDiv {
  display: flex;
  flex-direction: row;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-15xs) 0;
  background-color: var(--primary-11);
  border-radius: var(--br-md);
  width: 99px;
  height: 46px;
  flex-shrink: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frameDiv {
  align-items: flex-start;
  justify-content: flex-start;
}
.screenshot20220629At532 {
  position: relative;
  width: 17.16px;
  height: 14.35px;
  flex-shrink: 0;
}
.hotelsDiv {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.frameDiv1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.screenshot20220629At534 {
  position: relative;
  width: 17.27px;
  height: 17.13px;
  flex-shrink: 0;
}
.frameDiv2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.groupIcon {
  position: relative;
  width: 24.92px;
  height: 19.42px;
  flex-shrink: 0;
}
.navsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--body-2-bold1-size);
  color: var(--neutrals-31);
  font-family: var(--button-21);
}
.iconsStarFilled {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelDiv {
  position: relative;
  font-size: var(--body-2-bold1-size);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--caption-21);
  color: var(--neutrals-81);
  text-align: left;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-4xs);
  background-color: var(--primary-11);
  border-radius: var(--br-4xl);
  width: 66px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
}
.labelDiv1 {
  position: relative;
  font-size: var(--button-21-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--button-21);
  color: var(--primary-11);
  text-align: center;
  display: inline-block;
}
.button1,
.statusNewDiv {
  border-radius: var(--br-md);
}
.button1 {
  cursor: pointer;
  border: 2px solid var(--primary-11);
  padding: var(--padding-11xs) var(--padding-8xs);
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  width: 120px;
  height: 41px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.statusNewDiv {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-41);
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.iconsBellLine {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
}
.notificationBell {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.buttonsDiv,
.navbarHeader {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.buttonsDiv {
  padding: 0 var(--padding-6xs);
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.navbarHeader {
  align-self: stretch;
  background-color: var(--color-white);
  height: 88px;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-6xs);
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--neutrals-21);
  font-family: var(--caption-21);
}
@media screen and (max-width: 768px) {
  .navbarHeader {
    flex-direction: column;
  }
}
