.iconsMapMarkerLine {
  position: relative;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  overflow: hidden;
}
.wHERETOB {
  position: relative;
  font-size: var(--caption-21-size);
  line-height: 12px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button-21);
  color: var(--neutrals-51);
  text-align: left;
}
.frameDiv3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.destinationOrPropertyName {
  position: relative;
  font-size: var(--search-engine-text1-size);
  font-weight: 600;
  font-family: var(--caption-21);
  color: var(--neutrals-41);
  text-align: left;
  display: inline-block;
}
.frameDiv1,
.frameDiv2 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.frameDiv1 {
  border-radius: var(--br-md);
  background-color: var(--color-gray-200);
  border: 1px solid var(--neutrals-51);
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.frameIcon {
  position: relative;
  width: 15.51px;
  height: 18.4px;
  flex-shrink: 0;
}
.frameDiv8 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dec2022Div {
  position: relative;
  font-size: var(--body-2-bold1-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--button-21);
  color: var(--neutrals-31);
  text-align: left;
  display: inline-block;
}
.frameDiv6,
.frameDiv7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv6 {
  padding: var(--padding-12xs) 0;
  box-sizing: border-box;
}
.sAVERB {
  position: relative;
  font-size: var(--caption-21-size);
  line-height: 12px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button-21);
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.labelButton {
  cursor: pointer;
  border: 1px solid var(--primary-11);
  padding: var(--padding-15xs) var(--padding-11xs) var(--padding-17xs);
  background-color: var(--shade-25-011);
  border-radius: var(--br-2xl);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv10,
.frameDiv5 {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.frameDiv10 {
  width: 108.78px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-12xs) 0;
  align-items: flex-start;
}
.frameDiv5 {
  border-radius: var(--br-md);
  background-color: var(--color-gray-200);
  border: 1px solid var(--neutrals-51);
  position: relative;
  height: 81px;
  flex-direction: row;
  padding: var(--padding-12xs);
  align-items: center;
  gap: var(--gap-10xs);
}
.frameIcon2 {
  position: relative;
  width: 18.92px;
  height: 14.64px;
  flex-shrink: 0;
}
.room2Adults3Children {
  position: relative;
  font-size: var(--body-2-bold1-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--button-21);
  color: var(--neutrals-21);
  text-align: left;
  display: inline-block;
}
.frameDiv15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xs);
}
.frameDiv14,
.frameSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameDiv14 {
  border-radius: var(--br-md);
  background-color: var(--color-gray-200);
  border: 1px solid var(--neutrals-51);
  box-sizing: border-box;
  position: relative;
  height: 79px;
  padding: var(--padding-12xs);
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.frameSection {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-5xs);
}
.label {
  position: relative;
  font-size: var(--caption-21-size);
  line-height: 14.77px;
  display: inline-block;
  font-family: var(--font-dm-sans);
  color: var(--neutrals-31);
  text-align: center;
  width: 9px;
  height: 13px;
  flex-shrink: 0;
}
.antDesignstarFilledIcon {
  position: relative;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  overflow: hidden;
}
.tripSelectionDiv {
  border-radius: var(--br-md);
  background-color: var(--neutrals-71);
  border: 0.5px solid var(--neutrals-51);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-8xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.label2 {
  position: relative;
  font-size: var(--caption-21-size);
  line-height: 14.77px;
  display: inline-block;
  font-family: var(--font-dm-sans);
  color: var(--neutrals-81);
  text-align: center;
  width: 9px;
  height: 13px;
  flex-shrink: 0;
}
.tripSelectionDiv2 {
  border-radius: var(--br-md);
  background-color: var(--primary-11);
  border: 0.5px solid var(--neutrals-51);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-8xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.label3 {
  position: relative;
  font-size: var(--caption-21-size);
  line-height: 14.77px;
  display: inline-block;
  font-family: var(--font-dm-sans);
  color: var(--neutrals-31);
  text-align: center;
}
.frameSection1,
.tripSelectionButton {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.tripSelectionButton {
  cursor: pointer;
  border: 0.5px solid var(--neutrals-51);
  padding: var(--padding-10xs) var(--padding-12xs);
  background-color: var(--neutrals-71);
  border-radius: var(--br-md);
  position: relative;
}
.frameSection1 {
  align-self: stretch;
  padding: 0 var(--padding-xs);
  gap: var(--gap-8xl);
}
.rectangleDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--primary-11);
}
.checkIcon {
  position: absolute;
  height: 38.81%;
  width: 53.2%;
  top: 30.61%;
  right: 23.4%;
  bottom: 30.59%;
  left: 23.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.checkboxDiv {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.travellingForWork {
  position: relative;
  font-size: var(--button-21-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--button-21);
  color: var(--neutrals-31);
  text-align: left;
  display: inline-block;
}
.frameDiv18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.recentSearchesDiv {
  position: relative;
  font-size: var(--button-21-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--button-21);
  color: var(--neutrals-41);
  text-align: left;
  display: inline-block;
}
.frameDiv20 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameIcon3 {
  position: relative;
  width: 12.41px;
  height: 9.39px;
  flex-shrink: 0;
}
.hotelsB {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 9.67px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--button-21);
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #3772ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.frameDiv22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.chennaiDiv {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 19.34px;
  font-weight: 600;
  font-family: var(--button-21);
  color: var(--neutrals-21);
  text-align: left;
  display: inline-block;
}
.frameDiv23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.adultsAug04Aug05 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16.11px;
  font-family: var(--button-21);
  color: var(--neutrals-21);
  text-align: left;
  display: inline-block;
}
.frameDiv21 {
  border-radius: var(--br-xs);
  background-color: var(--neutrals-61);
  height: 73px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.frameIcon4,
.frameIcon5 {
  position: relative;
  width: 14.18px;
  height: 10.15px;
  flex-shrink: 0;
}
.frameIcon5 {
  width: 14.86px;
  height: 10.98px;
}
.frameDiv27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.div {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16.11px;
  font-family: var(--button-21);
  color: var(--color-gray-1400);
  text-align: left;
  display: inline-block;
  opacity: 0.28;
}
.frameDiv25,
.frameDiv28 {
  width: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv25 {
  border-radius: var(--br-xs);
  background-color: var(--neutrals-61);
  width: 204px;
  height: 73px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-4xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.labelDiv {
  position: relative;
  font-size: var(--body-2-bold1-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--button-21);
  color: var(--neutrals-81);
  text-align: center;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-8xs);
  background-color: var(--primary-11);
  border-radius: var(--br-md);
  width: 272px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frameDiv,
.frameForm,
.frameSection2 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
}
.frameSection2 {
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-14xl);
}
.frameDiv,
.frameForm {
  flex-direction: column;
}
.frameForm {
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  height: 399px;
  flex-shrink: 0;
  padding: var(--padding-xl) var(--padding-12xs);
  align-items: center;
  justify-content: space-between;
}
.frameDiv {
  background-color: var(--color-gray-700);
  padding: var(--padding-2xl) var(--padding-16xl) var(--padding-2xl)
    var(--padding-17xl);
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .frameSection,
  .frameSection1,
  .frameSection2 {
    flex-direction: column;
  }
}
